.gray-box {
  background-color: gray;
  margin: auto;
  /* width: 1000px; */
  height: auto;
  padding: 10px;
}

#car-image {
  position: relative;
  margin: auto;
  display: flex;
  /* width: 990px; */
  width: 60%;
  /* height: auto; */
  height: 60%;
}

#copyrigtht {
  margin: auto;
  padding-right: 300px;
  text-align: right;
}

#text-show {
  /* position: relative; */
  text-align: center;
}

.button {
  margin: 5px;
  text-align: right;
}

.cheating {
  display: flex;
  margin-top: 40px;
  padding: auto;
  display: none;
}

#study {
  margin: auto;
  background-color: rgb(142, 245, 245);
  border-radius: 15px;
  padding-right: 30px;
}

#next {
  margin: auto;
  background-color: rgb(252, 231, 150);
  border-radius: 15px;
  padding-right: 30px;
}
